.slide {
  display: flex;
  justify-content: center;
  padding: 20px 100px;
  background-color: rgba(184, 179, 179, 0.897);
  .container {
    width: 1400px;

    .carousel-prev,
    .carousel-next {
      width: 35px;
      height: 35px;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 50%;
      position: absolute;
      cursor: pointer;
      top: 0;
      bottom: 0;
      margin: auto;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: rgba(0, 0, 0, 0.8);
      }
    }
  }
}
